.heading-1 {
}

.heading-4 {
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 100px;
  gap: 0.2rem;
  .sidebar-left {
    background-color: grey;
  }
  .sidebar-right {
    background-color: grey;
  }
  .main-content {
    background-color: grey;

    .canvas {
      width: 100%;
      height: 600px;
      border: 1px solid black;
    }
  }
}
